:root {
  --bg-color: #E6E8F0;
  --primary-color: #30ACDE;
  --element-color: #F2F4F6;
  --accent-color: #7EC4EE;
  --text-color: #121517;

  --error-color: #FF7C7C;
  --success-color: #C0FF8F;
}

[data-theme="dark"] {
  --bg-color: #0B0D0F;
  --primary-color: #30ACDE;
  --element-color: #0F1316;
  --accent-color: #2A9BD6;
  --text-color: #D7DCE1;
}