:root {
  --bg-color: #e6e8f0;
  --primary-color: #30acde;
  --element-color: #f2f4f6;
  --accent-color: #7ec4ee;
  --text-color: #121517;

  --error-color: #ff7c7c;
  --success-color: #c0ff8f;
}

[data-theme="dark"] {
  --bg-color: #0b0d0f;
  --primary-color: #30acde;
  --element-color: #0f1316;
  --accent-color: #2a9bd6;
  --text-color: #d7dce1;
}
